
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

/* Style the header */
header {
  background-color: #b31b1b;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 500px;
  background: #ccc;
  padding: 20px;
}

ul, li {list-style-type: none;}
li {padding-left: 2em; text-indent: -2em; font-size: 12px; text-align: left;}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: #f1f1f1;
  width:100%;
  height: 500px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: gray;
  padding: 10px;
  text-align: center;
  color: white;
}

.center {
  text-align: center;
}
.box {
  display: grid;
  text-align: center;
/*  grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 2em;
  padding-left: 150px;
}

.box :first-child {
    align-self: center;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

/* input with button */
input[type="text"] {
    width: 300px;
    height: 30px;
    padding-right: 50px;
}

input[type="submit"] {
    margin-left: -50px;
    height: 30px;
    width: 70px;
    background: gray;
    color: white;
    border: 0;
    -webkit-appearance: none;
}
