<section>
   <article>
    <form method="post" class="form" action="{{.Base}}/download" enctype="multipart/form-data">
        <div class="form-item">
            <label>ML name <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="name">
        </div>
        <div class="form-item">
            <label>ML type <span class="hint hint-req">*</span></label>
            <select class="input">
                <option value="TensorFlow" selected="selected">TensorFlow</option>
                <option value="PyTorch">PyTorch</option>
                <option value="ScikitLearn">ScikitLearn</option>
            </select>
        </div>
        <div class="form-item">
            <label>Version <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="version" placeholder="vX.Y.Z">
        </div>
        <div class="form-item">
            <button class="button button-primary">Download</button>
        </div>
    </form>

    <hr/>

    <div>
        {{.Content}}
    </div>

  </article>
</section>
