<!DOCTYPE html>
<html lang="en">
<head>
<title>CMS Monitoring</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{.Base}}/css/main.css" />
</head>
<body>


<header>
  <h2>ML Hub</h2>
</header>

<section>

  <article>
    <div class="center">
        <p>MLHub is free repository of pre-trained Machine Learning (ML)
        models across multiple scientific domains.</p>
        <p>
        <input type="text" name="search" placeholder="Type any keyword">
        <input type="submit">
        </p>
    <br/>
    <div class="box">
        <div><h3>ML models</h3>
            <a href="{{.Base}}/models">
                <img src="https://cdn.onlinewebfonts.com/svg/img_182334.png" alt="categories" style="width:70px;">
            </a>
        </div>
        <div><h3>ML types<br/></h3>
            <a href="{{.Base}}/types">
            <img src="https://cdn.onlinewebfonts.com/svg/img_173599.png" alt="types" style="width:65px;">
            </a>
        </div>
        <div><h3>Scientific domains</h3>
            <a href="{{.Base}}/domains">
                <img src="https://cdn.onlinewebfonts.com/svg/img_533219.png" alt="domains" style="height:70px;">
            </a>
        </div>
    </div>
    <br/>
    <br/>
    <div class="box">
        <div><h3>Support</h3>
            <a href="{{.Base}}/support">
                <img src="https://cdn.onlinewebfonts.com/svg/img_568417.png" alt="Support" style="width:80px;">
            </a>
        </div>
        <div><h3>Documentation</h3>
            <a href="{{.Base}}/docs">
                <img src="https://cdn.onlinewebfonts.com/svg/img_168813.png" alt="Documentation" style="width:80px;">
            </a>
        </div>
        <div><h3>Contact Us</h3>
            <a href="{{.Base}}/contacts">
                <img src="https://cdn.onlinewebfonts.com/svg/img_126826.png" alt="Contacts" style="width:80px;">
            </a>
        </div>
    </div>

    </div> <!-- div center -->

  </article>
</section>

<footer>
  <p>MLHub &#169; Cornell University</p>
</footer>

</body>
</html>

