<!DOCTYPE html>
<html lang="en">
<head>
<title>CMS Monitoring</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{.Base}}/css/main.css" />
</head>
<body>


<header>
  <h2>ML Hub</h2>
</header>

<section>

  <article>
    <div class="center">
        <p>MLHub is free repository of pre-trained Machine Learning (ML)
        models across multiple scientific domains.</p>
        <p>
        <input type="text" name="search" placeholder="Type any keyword">
        <input type="submit">
        </p>
    <br/>
    <div class="box">
        <div>ML models<br/>
            <a href="{{.Base}}/models">
                <img src="https://cdn.onlinewebfonts.com/svg/img_566335.png" alt="categories" style="width:80px;">
            </a>
        </div>
        <div>ML types<br/>
            <a href="{{.Base}}/types">
            <img src="https://cdn.onlinewebfonts.com/svg/img_260956.png" alt="types" style="width:80px;">
            </a>
        </div>
        <div>Science domains<br/>
            <a href="{{.Base}}/domains">
                <img src="https://cdn.onlinewebfonts.com/svg/img_233159.png" alt="domains" style="height:90px;">
            </a>
        </div>
    </div>
    <br/>
    <br/>
    <div class="box">
        <div>Support<br/>
            <a href="{{.Base}}/support">
                <img src="https://cdn.onlinewebfonts.com/svg/img_353768.png" alt="Support" style="width:80px;">
            </a>
        </div>
        <div>Documentation<br/>
            <a href="{{.Base}}/docs">
                <img src="https://cdn.onlinewebfonts.com/svg/img_233249.png" alt="Documentation" style="width:80px;">
            </a>
        </div>
        <div>Contact Us<br/>
            <a href="{{.Base}}/contacts">
                <img src="https://cdn.onlinewebfonts.com/svg/img_126826.png" alt="Contacts" style="width:80px;">
            </a>
        </div>
    </div>

    </div> <!-- div center -->

  </article>
</section>

<footer>
  <p>MLHub &#169;</p>
</footer>

</body>
</html>

