<!DOCTYPE html>
<html lang="en">
<head>
<title>CMS Monitoring</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{.Base}}/css/main.css" />
</head>
<body>


<header>
    <div class="box center">
        <div>
            <img src="{{.Base}}/images/Cornell_logo_white.png" alt="Cornell" style="vertical-align: text-bottom;">
        </div>
        <div>
            <h2>ML Hub</h2>
        </div>
        <div>
            <ul>
                <li>&nbsp;</li>
                <li>Pre-trained ML models</li>
                <li>Open source</li>
                <li>Reach APIs</li>
            </ul>
        </div>
    </div>
</header>

<section>

  <article>
    <div class="center">
        <p>MLHub is free repository of pre-trained Machine Learning (ML)
        models across multiple scientific domains.</p>
        <p>
        <input type="text" name="search" placeholder="Type any keyword">
        <input type="submit">
        </p>
    <br/>
    <div class="box">
        <div>
            <a href="{{.Base}}/models">
                <img src="https://cdn.onlinewebfonts.com/svg/img_182334.png" alt="categories" style="width:70px;">
            </a>
            <h3>ML models</h3>
        </div>
        <div>
            <a href="{{.Base}}/types">
            <img src="https://cdn.onlinewebfonts.com/svg/img_173599.png" alt="types" style="width:65px;">
            </a>
            <h3>ML types</h3>
        </div>
        <div>
            <a href="{{.Base}}/domains">
                <img src="https://cdn.onlinewebfonts.com/svg/img_533219.png" alt="domains" style="width:90px;">
            </a>
            <h3>Scientific domains</h3>
        </div>
    </div>
    <br/>
    <br/>
    <div class="box">
        <div>
            <a href="{{.Base}}/support">
                <img src="https://cdn.onlinewebfonts.com/svg/img_178343.png" alt="APIs" style="width:80px;">
            </a>
            <h3>APIs</h3>
        </div>
        <div>
            <a href="{{.Base}}/docs">
                <img src="https://cdn.onlinewebfonts.com/svg/img_168813.png" alt="Documentation" style="width:80px;">
            </a>
            <h3>Documentation</h3>
        </div>
        <div>
            <a href="{{.Base}}/contacts">
                <img src="https://cdn.onlinewebfonts.com/svg/img_126826.png" alt="Contacts" style="width:77px;">
            </a>
            <h3>Contact Us</h3>
        </div>
    </div>

    </div> <!-- div center -->

  </article>
</section>

<footer>
    <p>&#169; MLHub :: Cornell University :: NSF</p>
</footer>

</body>
</html>

