<section>
  <article>
      <div class="box center">
          <a href="{{.OAuthHost}}">
              <img src="{{.Base}}/images/github_login.png" alt="GitHub login">
          </a>
      </div>
  </article>
</section>
