<div class="ml-center">
    <h1>OAuth authentication</h1>
    <a href="{{.OAuthHost}}">
      <img src="{{.Base}}/images/github_login.png" alt="GitHub login" class="width-200">
    </a>
    <br/>
    <a href="{{.OAuthHost}}">
      <img src="{{.Base}}/images/google_login.png" alt="Google login" class="width-200">
    </a>
    <br/>
    <a href="{{.OAuthHost}}">
      <img src="{{.Base}}/images/facebook_login.png" alt="Facebook login" class="width-200">
    </a>
    <br/>
    <a href="{{.OAuthHost}}">
      <img src="{{.Base}}/images/twitter_login.png" alt="Twitter login" class="width-200">
    </a>
</div>
