<section>
  <article>
      <div class="alert alert-success">
          <h1>{{.Backend}}</h1>
          <span class="width-200">
              <b>inference results:</b>
          </span>
          <span>
              {{.Data}}
          </span>
          <br/>
          <span class="width-200">
              <b>elapsed time:</b>
          </span>
          <span>
              {{.ElapsedTime}}
          </span>
      </div>
  </article>
</section>
