<!DOCTYPE html>
<html lang="en">
<head>
    <title>MLHub upload</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{.Base}}/css/top.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/superkube@latest/dist/superkube.min.css">
</head>
<body>

<header>
{{if eq .User ""}}
    <h1 class="white">{{.Title}}</h1>
{{else}}
    <h1 class="white">{{.Title}} ({{.User}})</h1>
{{end}}
    <br/>
    <div class="white">
        <a href="{{.Base}}/" class="button button-light-outline button-small button-round">Home</a>
        &nbsp;
        <a href="{{.Base}}/models" class="button button-light-outline button-small button-round">Models</a>
        &nbsp;
        <a href="{{.Base}}/domains" class="button button-light-outline button-small button-round">Domains</a>
        &nbsp;
        <a href="{{.Base}}/upload" class="button button-light-outline button-small button-round">Upload</a>
        &nbsp;
        <a href="{{.Base}}/download" class="button button-light-outline button-small button-round">Download</a>
        &nbsp;
        <a href="{{.Base}}/inference" class="button button-light-outline button-small button-round">Inference</a>
        &nbsp;
        <a href="{{.Base}}/docs" class="button button-light-outline button-small button-round">Docs</a>
        &nbsp;
        <a href="{{.Base}}/login" class="button button-light-outline button-small button-round">Login</a>
    </div>
</header>


