<section>
   <article>
    <form method="post" class="form" action="{{.Base}}/upload" enctype="multipart/form-data">
        <div class="form-item">
            <label>ML name <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="model">
        </div>
        <div class="form-item">
            <label>ML type <span class="hint hint-req">*</span></label>
            <select class="input" name="type">
                <option value="TensorFlow" selected="selected">TensorFlow</option>
                <option value="PyTorch">PyTorch</option>
                <option value="ScikitLearn">ScikitLearn</option>
            </select>
        </div>
        <div class="form-item">
            <label>Version <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="version" placeholder="vX.Y.Z">
        </div>
        <div class="form-item">
            <label>Reference </label>
            <input class="input" type="text" name="reference" placeholder="http://some.site">
        </div>
        <div class="form-item">
            <label>Scientific domain (discipline) </label>
            <input class="input" type="text" name="discipline" placeholder="HEP">
        </div>
        <div class="form-item">
            <label>Description <span class="hint hint-req">*</span></label>
            <textarea class="input" name="description" rows="6"></textarea>
        </div>
        <div class="form-item">
            <label>ML model file (tar-ball) <span class="hint hint-req">*</span></label>
            <input class="input" type="file" name="file">
        </div>
        <div class="form-item">
            <button class="button button-primary">Upload</button>
        </div>
    </form>
  </article>
</section>
